img{
    width: 100%;
    height: auto;
}

h1{
 
    color: #ffffff;
    font-weight: bold;
}

p{
    color: #ffffff;
}

a{
    background-color: red;
    color: #ffffff;
    text-decoration: none;
}

a:hover{

    background-color: red;
    color: #ffffff;
    background-color: 2px solid #ffffff;
}
